# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX files
*.mexw64*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
/work/slprj/
sccprj/
src/
work/
work/slcov_output/
*_Config/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag

# NXP
/*/*_Config
*_settings.mat
